<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STOPAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".personal.MainActivity"/>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--食友圈一条信息-->
        <activity android:name=".personal.CommentInfoActivity"/>
        <!--登录页面1-->
        <activity android:name=".register.Register1"/>
        <!--登录页面2-->
        <activity android:name=".register.Register2"/>
        <!--登录页面3-->
        <activity android:name=".register.Register3"/>
        <!--好友列表-->
        <activity android:name=".friend_list.FriendList"/>
        <!--个人信息-->
        <activity android:name=".Persional_info.PersionInfo"/>
        <!--个人信息修改-->
        <activity android:name=".Persional_info.PersionInfoG"/>
        <!--饭店列表-->
        <activity android:name=".resturant.ResturantList"/>
        <!--饭店信息-->
        <activity android:name=".resturant.ResturantInfo"/>
        <!--菜单列表-->
        <activity android:name=".resturant.DishList"/>
        <!--才信息-->
        <activity android:name=".resturant.DishInfo"/>
        <!--发表评论-->
        <activity android:name=".CommentPage"/>
        <!--饭店评论-->
        <activity android:name=".resturant.ResturantComment"/>

        <activity android:name=".CommentPage_rest"/>

        <activity android:name=".friend_list.FindFriend"/>


    </application>

</manifest>